<app-navbar></app-navbar>
<div class="bg-img" style="background-image: url('../../assets/sample.jpg');height: 80vh !important;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-top: -1em;">
<div class="container">
        <div class="ui-g">
                <!-- <div class="ui-g-12">
                        <app-menu></app-menu>
                </div> -->
                <div class="ui-g-12">
                        <router-outlet></router-outlet>
                </div>
        </div>
</div>
</div>
<app-footer></app-footer>